---
layout: home
title: "Violin, Piano & Viola private lessons"
description: "Welcome to SoundsOfRussia.com - "
tags: [Violin, Piano, Viola, Cello, Music Lessons, Broward County, Florida]
comments: false
---

{% include home_pages.html %}

{% include congratulations.html %}

{% include pagination.html %}

<EMBED src="violinsounds.mp3" autostart="true" loop="false" hidden="true"></embed>

<noembed><bgsound src="violinsounds.mp3" loop="1"> </noembed> 
    
    <div id=messagediv style='font-style:italic'>Loading...</div>
    <div id=readystatediv style='font-style:italic'></div>
    <script>
        var audio = new Audio("http://soundsofrussia.com/violinsounds.mp3")
        var played = false
        var start = function()
        {
            if(played)
                return;
            played = true
            audio.play()
            messagediv.innerHTML = "Playing audio. <button style='font-size:inherit' onclick='audio.pause()'>Stop</button>"
            main.onclick = ''
        }
        
        audio.addEventListener('canplaythrough', start, false)
        if(audio.readyState > 3)
            start()
        
        var loop = function()
        {
            readystatediv.innerHTML = "readyState="+audio.readyState
            setTimeout(loop, 16)
        }
        loop()
        
        main.onclick = function()
        {
            start()
        }
        
        main.addEventListener('touchstart', start, false)
    </script>